# intervals.icu
INTERVALS_ICU_BASE_URL=https://intervals.icu/
INTERVALS_ICU_API=api/v1

INTERVALS_ICU_USER_NAME=API_KEY #Intervals.icu Username is "API_KEY"!
INTERVALS_ICU_ATHLETE_ID=
INTERVALS_ICU_API_KEY=

# LLM
LLM_BASE_URL=http://127.0.0.1:8080/